:root {
    --main-text-color: #c8c4bd;
    --card-border-color: #7c7365;
    --card-shadow-color: #26292a;
    --subtitle-text-color: #b8b2a9;
    --important-normal-text-color: #bcb7ae;
    --normal-text-color: #a8a095;
    --icons-color: #c8c4bd;
    --card-bg-color: #313537;
    --main-bg-color: #004d4d;
    --sec-bg-color: #181a1b;
    --third-bg-color: #25282a;
    --btn-bg-color: #0c5bae;
    --overlay-text-color: #ffffff;
    --glow-color: #6caff5;
    --footer-bg-color: #313537d0;
    --input-bg-color: #dddddd;
}

html,
body {
    height: 100%;
}

#home-main-card {
    background: var(--card-bg-color);
    border: 2px solid var(--card-border-color);
    box-shadow: 4px 4px var(--card-shadow-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 65%;
    width: 75%;
    min-height: min-content;
    min-width: min-content;
    max-height: 75%;
    max-width: 75%;
    padding: 2%;
}

#home-profile-img-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: auto;
    max-width: min-content;
    max-height: min-content;
    margin: 4%;
}

#home-profile-img {
    background-image: url("../img/personal-picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    box-shadow: 4px 4px var(--card-shadow-color);
    border: 2px solid var(--card-border-color);
    border-radius: 50%;
}

#home-content {
    margin: 7% 5% 7% 2%;
    padding-top: 1%;
}

#home-title {
    color: var(--main-text-color);
    font-size: 2.2em;
    flex: 1;
    margin-bottom: 15px;
}

#home-subtitle {
    color: var(--important-normal-text-color);
    font-size: 1.5em;
    flex: 1;
    margin-bottom: 15px;
    height: 1em;
}

#home-desc {
    color: var(--normal-text-color);
    font-size: 1em;
    margin-bottom: 15px;
}

#home-nav-bar {
    display: flex;
    flex: auto;
    overflow: visible;
}

.home-nav-bar-btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--card-border-color);
    background-color: var(--third-bg-color);
    filter: drop-shadow(3px 3px var(--card-shadow-color));
    color: var(--third-bg-color);
    font-size: 21.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50%;
}

.home-nav-bar-btn:active {
    filter: drop-shadow(0px 0px var(--card-shadow-color));
    transform: translate(2px, 2px);
}

#home-social-icon-container {
    display: flex;
    flex: auto;
}

.home-social-icon {
    margin: 1% 2% 1% 0%;
    transition: all 0.2s ease;
}

#home-cv-logo-img {
    transition: all 0.2s ease;
    width: 45px;
    transform: translateY(0.23em);
    margin-left: -0.5%;
}

.home-social-icon:hover {
    transform: translateY(-0.1em);
    filter: drop-shadow(0px 5px var(--card-shadow-color));
}

#home-cv-logo-img:hover {
    filter: drop-shadow(0px 5px var(--card-shadow-color));
    transform: translateY(-0em);
}

.home-nav-bar-btn-tooltip {
    width: max-content;
    padding: 0 5px;
    height: 30px;
    font-size: 0.6em;
    background-color: var(--third-bg-color);
    color: var(--main-text-color);
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--card-border-color);
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 134%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s;
}

.home-nav-bar-btn-tooltip::after {
    content: "";
    position: absolute;
    right: 100%;
    border-width: 6px;
    border-style: solid;
    border-color: transparent var(--card-border-color) transparent transparent;
}

.home-nav-bar-btn:hover .home-nav-bar-btn-tooltip {
    visibility: visible;
    opacity: 1;
}
