:root {
    --main-text-color: #323232;
    --card-border-color: #323232;
    --card-shadow-color: #323232;
    --subtitle-text-color: #4c4c4c;
    --important-normal-text-color: #505050;
    --normal-text-color: #666666;
    --icons-color: #323232;
    --card-bg-color: #d3d3d3;
    --main-bg-color: #006060;
    --sec-bg-color: #ffffff;
    --third-bg-color: #e8e8e8;
    --btn-bg-color: #2d8cf0;
    --overlay-text-color: #d3d3d3;
    --glow-color: #1f62a8;
    --footer-bg-color: #d3d3d3d0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#projects-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--footer-bg-color);
    height: 11%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--card-border-color);
}

#projects-nav-bar {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.projects-nav-bar-btn {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 2px solid var(--card-border-color);
    background-color: var(--third-bg-color);
    box-shadow: 3px 3px var(--card-shadow-color);
    color: var(--third-bg-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-nav-bar-btn:active {
    box-shadow: 0px 0px var(--card-shadow-color);
    transform: translate(3px, 3px);
}

#projects-title {
    color: var(--card-bg-color);
    -webkit-text-stroke: 2px var(--main-text-color);
    font-weight: 900;
    font-size: 5em;
    margin: 7% 0% 6% 0%;
    text-align: center;
}

#projects-projects-container {
    width: 90%;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.projects-projects {
    background: var(--card-bg-color);
    border: 2px solid var(--card-border-color);
    box-shadow: 4px 4px var(--card-shadow-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}

.projects-projects-thumbnail {
    width: 100%;
    height: 80%;
    border-top-left-radius: 2px;
    border-top-right-radius: 3px;
    background-image: url("../img/d8a2a5010e704497920af4f8943e5b13O4sIhaeZr880U5wh-0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-bottom: 2px solid var(--card-border-color);
}

.projects-projects-thumbnail:hover {
    background-image: url("../img/giphy.gif");
}

.projects-projects-desc {
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.projects-projects-desc-title {
    color: var(--subtitle-text-color);
    font-size: 1.1em;
    margin: 0px 0px 5px;
}

.projects-projects-desc-btn {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px solid var(--card-border-color);
    background-color: var(--third-bg-color);
    box-shadow: 3px 3px var(--card-shadow-color);
    color: var(--third-bg-color);
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-projects-desc-btn:active {
    box-shadow: 0px 0px var(--card-shadow-color);
    transform: translate(3px, 3px);
}
