@font-face {
    font-family: SenticTextBlack;
    src: url("../fonts/Sentic\ Text\ Black.otf") format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: SenticTextBlack;
    /* outline: red dashed 2px; */
}

:root {
    --main-text-color: #323232;
    --card-border-color: #323232;
    --card-shadow-color: #323232;
    --subtitle-text-color: #4c4c4c;
    --important-normal-text-color: #505050;
    --normal-text-color: #666666;
    --icons-color: #323232;
    --card-bg-color: #d3d3d3;
    --main-bg-color: #006060;
    --sec-bg-color: #ffffff;
    --third-bg-color: #e8e8e8;
    --btn-bg-color: #2d8cf0;
    --overlay-text-color: #d3d3d3;
    --glow-color: #1f62a8;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

#overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.7s ease-in-out;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 1000;
    font-size: 10em;
    color: var(--overlay-text-color);
    mix-blend-mode: multiply;
    overflow: hidden;
}

::-webkit-scrollbar-track {
    border: 1px solid var(--card-border-color);
    background-color: var(--card-bg-color);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--card-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-text-color);
}

#toggle-theme-container {
    position: absolute;
    top: 0;
    margin: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#toggler-label {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
    cursor: pointer;
}

#toggler-input {
    opacity: 0;
    width: 0;
    height: 0;
}

#toggler-slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--card-border-color);
    box-shadow: 4px 4px var(--card-shadow-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--third-bg-color);
    transition: 0.3s;
}

#toggler-state::before {
    position: absolute;
    content: "Light";
    left: -55px;
    top: 0;
    width: 100px;
    text-decoration: underline;
    color: var(--main-text-color);
}

#toggler-state::after {
    position: absolute;
    content: "Dark";
    left: 65px;
    top: 0;
    width: 100px;
    text-decoration: none;
    color: var(--main-text-color);
}

#toggler-slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--card-border-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--sec-bg-color);
    box-shadow: 0 3px 0 var(--card-bg-color);
    transition: 0.3s;
}

#toggler-input:checked + #toggler-slider {
    background-color: var(--btn-bg-color);
}

#toggler-input:checked + #toggler-slider:before {
    transform: translateX(30px);
}

#toggler-input:checked ~ #toggler-state:before {
    text-decoration: none;
}

#toggler-input:checked ~ #toggler-state:after {
    text-decoration: underline;
}

.icons {
    color: var(--icons-color);
}
